@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
/*=----------=/
|             |
|  Variables  |
|             |
/=----------=*/
:root {
  --content: "Bruno Bastian - Producer -";
  --font-size: 58.6666666667px;
  --radius: 206px;
  --glow-color: #09ff00;
  --width: calc((2 * 3.141592 * var(--radius)) / 36 + 0.005em);
  --spin-spin-time: 20s;
  --letter-spacing: 1em;
  --scrollpos: 0;
  --navbar-height: 6rem;
  --navbar-width: 80%;
  --logo-size: 80%;
}

@media only screen and (max-width: 520px) {
  :root {
    --font-size: 39.1111111111px;
    --radius: 137.333333333px;
  }
}

* {
  cursor: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  font-family: 'Readex Pro', sans-serif;
}

section {
  width: 100%;
  height: 100vh;
}

section.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

section.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/whitenoise.png);
  background-repeat: repeat;
  pointer-events: none;
  opacity: 0.07;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

section.header:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='960' height='540' preserveAspectRatio='none' viewBox='0 0 960 540'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1061%26quot%3b)' fill='none'%3e%3cpath d='M588.76-58.05C467.95-35.48 407.81 268.72 221.83 269.13 35.86 269.54-40.21 70.74-145.09 63.93' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M470.86-1.37C404.05 10.96 450.66 160.15 267.52 178.9 84.38 197.65-22.36 403.11-139.16 411.1' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M551.61-8.81C472.77 22.58 531.39 245.7 349.82 264.15 168.25 282.6 52.62 397.38-53.76 399.15' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M476-38.09C364.67 9.55 344.57 354.72 196.54 357.53 48.52 360.34 2.4 167.65-82.91 157.73' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M686.61-57.18C543.71-20.29 493.11 367.92 280.09 370.9 67.06 373.88-16.06 201.64-126.44 198.1' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1061'%3e%3crect width='960' height='540' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 180vh;
  background-repeat: no-repeat;
  pointer-events: none;
}

section.track {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.track:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='960' height='540' preserveAspectRatio='none' viewBox='0 0 960 540'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1157%26quot%3b)' fill='none'%3e%3cpath d='M -190.86845917049186%2c314 C 1.13%2c295.4 385.13%2c211.6 769.1315408295081%2c221 C 1153.13%2c230.4 1690.96%2c355.2 1729.1315408295081%2c361 C 1767.31%2c366.8 1113.83%2c272.2 960%2c250' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -295.2024858092725%2c443 C -103.2%2c373 280.8%2c95 664.7975141907275%2c93 C 1048.8%2c91 1565.76%2c412.8 1624.7975141907275%2c433 C 1683.84%2c453.2 1092.96%2c241.8 960%2c194' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1017.2507444375368%2c441 C -825.25%2c362 -441.25%2c64.6 -57.25074443753684%2c46 C 326.75%2c27.4 699.3%2c304.2 902.7492555624632%2c348 C 1106.2%2c391.8 948.55%2c281.6 960%2c265' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1157'%3e%3crect width='960' height='540' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
}

section.track:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/whitenoise.png);
  background-repeat: repeat;
  pointer-events: none;
  opacity: 0.07;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

section.work {
  height: 100vh;
  background: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.work:after {
  content: "";
  width: 100%;
  height: 100%;
  top: -1px;
  left: 0;
  position: absolute;
  background-image: url(images/wav.svg);
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}

section.work:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1127%26quot%3b)' fill='none'%3e%3cpath d='M 549%2c-700.5894113764531 C 717.8%2c-588.59 1493.6%2c-364.59 1393%2c-140.5894113764531 C 1292.4%2c83.41 38.2%2c279.29 46%2c419.4105886235469 C 53.8%2c559.53 1154.8%2c531.88 1432%2c560' stroke='rgba(13%2c 13%2c 13%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M 1217%2c-286.5660743826928 C 1066.2%2c-174.57 461.4%2c49.43 463%2c273.4339256173072 C 464.6%2c497.43 1268.2%2c776.12 1225%2c833.4339256173072 C 1181.8%2c890.75 442.6%2c614.69 247%2c560' stroke='rgba(13%2c 13%2c 13%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M 44%2c-672.1963539566017 C 320%2c-560.2 1342.2%2c-336.2 1424%2c-112.19635395660171 C 1505.8%2c111.8 483.4%2c313.36 453%2c447.8036460433983 C 422.6%2c582.24 1108.2%2c537.56 1272%2c560' stroke='rgba(13%2c 13%2c 13%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M 190%2c-407.2176969688845 C 301.2%2c-295.22 720.4%2c-71.22 746%2c152.7823030311155 C 771.6%2c376.78 186.8%2c631.34 318%2c712.7823030311155 C 449.2%2c794.23 1185.2%2c590.56 1402%2c560' stroke='rgba(13%2c 13%2c 13%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1127'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 180vh;
  background-repeat: no-repeat;
}

.ball {
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 12.5px;
  background: white;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: padding .3s ease-in-out;
  transition: padding .3s ease-in-out;
}

.ball:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url(images/whitenoise.png);
  background-repeat: repeat;
  -webkit-animation: noise .5s infinite;
          animation: noise .5s infinite;
  pointer-events: none;
  opacity: .4;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  mix-blend-mode: difference;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.slide.active {
  -webkit-animation: slideIn 1s forwards;
          animation: slideIn 1s forwards;
  opacity: 1;
}

.slide .poster {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  opacity: calc((var(--scrollpos) - 300) / 300);
  z-index: 1;
}

.slide .poster img {
  width: 50%;
  aspect-ratio: 1;
}

.slide .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  opacity: calc((var(--scrollpos) - 400) / 200);
}

.slide .info h2 {
  font-size: 7rem;
  mix-blend-mode: difference;
  color: #fff;
  margin: 0;
}

.slide .info p {
  font-size: 2rem;
  mix-blend-mode: difference;
  color: #fff;
  margin: 0 0 2rem 0;
}

.slide .info button {
  background: none;
  border: 2px solid #fff;
  width: 10rem;
  height: 3rem;
  border-radius: 10000px;
  font-size: 1.2rem;
  color: #fff;
}

.ring {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-animation: perspective calc(var(--spin-spin-time, 32s) * 0.95) infinite ease-in-out alternate;
          animation: perspective calc(var(--spin-spin-time, 32s) * 0.95) infinite ease-in-out alternate;
  opacity: calc(1 - (var(--scrollpos) / 500));
}

.ring .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  -webkit-animation: rotate var(--spin-spin-time) infinite linear;
          animation: rotate var(--spin-spin-time) infinite linear;
}

.ring .box .panel {
  position: absolute;
  width: var(--width, 100px);
  height: calc(var(--font-size) * 1.1);
  line-height: 1;
  letter-spacing: var(--letter-spacing);
  font-weight: 400;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  -webkit-transform: translate(-50%, calc(-50% - .5px)) rotateY(var(--angle)) translateZ(var(--radius));
          transform: translate(-50%, calc(-50% - .5px)) rotateY(var(--angle)) translateZ(var(--radius));
}

.ring .box .panel:nth-child(1) {
  --left: calc(var(--width) * 0);
  --angle: calc(360 / 36 * 0deg);
}

.ring .box .panel:nth-child(2) {
  --left: calc(var(--width) * -1);
  --angle: calc(360 / 36 * 1deg);
}

.ring .box .panel:nth-child(3) {
  --left: calc(var(--width) * -2);
  --angle: calc(360 / 36 * 2deg);
}

.ring .box .panel:nth-child(4) {
  --left: calc(var(--width) * -3);
  --angle: calc(360 / 36 * 3deg);
}

.ring .box .panel:nth-child(5) {
  --left: calc(var(--width) * -4);
  --angle: calc(360 / 36 * 4deg);
}

.ring .box .panel:nth-child(6) {
  --left: calc(var(--width) * -5);
  --angle: calc(360 / 36 * 5deg);
}

.ring .box .panel:nth-child(7) {
  --left: calc(var(--width) * -6);
  --angle: calc(360 / 36 * 6deg);
}

.ring .box .panel:nth-child(8) {
  --left: calc(var(--width) * -7);
  --angle: calc(360 / 36 * 7deg);
}

.ring .box .panel:nth-child(9) {
  --left: calc(var(--width) * -8);
  --angle: calc(360 / 36 * 8deg);
}

.ring .box .panel:nth-child(10) {
  --left: calc(var(--width) * -9);
  --angle: calc(360 / 36 * 9deg);
}

.ring .box .panel:nth-child(11) {
  --left: calc(var(--width) * -10);
  --angle: calc(360 / 36 * 10deg);
}

.ring .box .panel:nth-child(12) {
  --left: calc(var(--width) * -11);
  --angle: calc(360 / 36 * 11deg);
}

.ring .box .panel:nth-child(13) {
  --left: calc(var(--width) * -12);
  --angle: calc(360 / 36 * 12deg);
}

.ring .box .panel:nth-child(14) {
  --left: calc(var(--width) * -13);
  --angle: calc(360 / 36 * 13deg);
}

.ring .box .panel:nth-child(15) {
  --left: calc(var(--width) * -14);
  --angle: calc(360 / 36 * 14deg);
}

.ring .box .panel:nth-child(16) {
  --left: calc(var(--width) * -15);
  --angle: calc(360 / 36 * 15deg);
}

.ring .box .panel:nth-child(17) {
  --left: calc(var(--width) * -16);
  --angle: calc(360 / 36 * 16deg);
}

.ring .box .panel:nth-child(18) {
  --left: calc(var(--width) * -17);
  --angle: calc(360 / 36 * 17deg);
}

.ring .box .panel:nth-child(19) {
  --left: calc(var(--width) * -18);
  --angle: calc(360 / 36 * 18deg);
}

.ring .box .panel:nth-child(20) {
  --left: calc(var(--width) * -19);
  --angle: calc(360 / 36 * 19deg);
}

.ring .box .panel:nth-child(21) {
  --left: calc(var(--width) * -20);
  --angle: calc(360 / 36 * 20deg);
}

.ring .box .panel:nth-child(22) {
  --left: calc(var(--width) * -21);
  --angle: calc(360 / 36 * 21deg);
}

.ring .box .panel:nth-child(23) {
  --left: calc(var(--width) * -22);
  --angle: calc(360 / 36 * 22deg);
}

.ring .box .panel:nth-child(24) {
  --left: calc(var(--width) * -23);
  --angle: calc(360 / 36 * 23deg);
}

.ring .box .panel:nth-child(25) {
  --left: calc(var(--width) * -24);
  --angle: calc(360 / 36 * 24deg);
}

.ring .box .panel:nth-child(26) {
  --left: calc(var(--width) * -25);
  --angle: calc(360 / 36 * 25deg);
}

.ring .box .panel:nth-child(27) {
  --left: calc(var(--width) * -26);
  --angle: calc(360 / 36 * 26deg);
}

.ring .box .panel:nth-child(28) {
  --left: calc(var(--width) * -27);
  --angle: calc(360 / 36 * 27deg);
}

.ring .box .panel:nth-child(29) {
  --left: calc(var(--width) * -28);
  --angle: calc(360 / 36 * 28deg);
}

.ring .box .panel:nth-child(30) {
  --left: calc(var(--width) * -29);
  --angle: calc(360 / 36 * 29deg);
}

.ring .box .panel:nth-child(31) {
  --left: calc(var(--width) * -30);
  --angle: calc(360 / 36 * 30deg);
}

.ring .box .panel:nth-child(32) {
  --left: calc(var(--width) * -31);
  --angle: calc(360 / 36 * 31deg);
}

.ring .box .panel:nth-child(33) {
  --left: calc(var(--width) * -32);
  --angle: calc(360 / 36 * 32deg);
}

.ring .box .panel:nth-child(34) {
  --left: calc(var(--width) * -33);
  --angle: calc(360 / 36 * 33deg);
}

.ring .box .panel:nth-child(35) {
  --left: calc(var(--width) * -34);
  --angle: calc(360 / 36 * 34deg);
}

.ring .box .panel:nth-child(36) {
  --left: calc(var(--width) * -35);
  --angle: calc(360 / 36 * 35deg);
}

.ring .box .panel:after {
  content: var(--content);
  font-size: var(--font-size, 100px);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: var(--left);
}

.scroll {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  margin: 2rem;
  -webkit-transition: opacity ease-in .1s;
  transition: opacity ease-in .1s;
}

.scroll[href="#track"] {
  opacity: calc(1 - (var(--scrollpos) / 180));
}

.scroll[href="#work"] {
  opacity: calc(1 - ((var(--scrollpos) - 950) / 180));
}

.scroll span {
  display: block;
  width: 24px;
  height: 24px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.scroll:hover {
  opacity: 0.5;
}

.textbox {
  position: absolute;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textbox h2 {
  font-size: 1.3rem;
  color: #262626;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  cursor: default;
  pointer-events: none;
  background: #080808;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.loader-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/whitenoise.png);
  background-repeat: repeat;
  pointer-events: none;
  opacity: 0.07;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

.loader-wrapper .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  gap: .5rem;
}

.loader-wrapper .loading .bar {
  width: 8px;
  height: 36px;
  background: white;
}

.loader-wrapper .loading .bar:nth-child(1) {
  -webkit-animation: soundVisualizer 3.9s linear infinite alternate;
          animation: soundVisualizer 3.9s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(2) {
  -webkit-animation: soundVisualizer 0.6s linear infinite alternate;
          animation: soundVisualizer 0.6s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(3) {
  -webkit-animation: soundVisualizer 1.8s linear infinite alternate;
          animation: soundVisualizer 1.8s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(4) {
  -webkit-animation: soundVisualizer 3.9s linear infinite alternate;
          animation: soundVisualizer 3.9s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(5) {
  -webkit-animation: soundVisualizer 0.6s linear infinite alternate;
          animation: soundVisualizer 0.6s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(6) {
  -webkit-animation: soundVisualizer 1.5s linear infinite alternate;
          animation: soundVisualizer 1.5s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(7) {
  -webkit-animation: soundVisualizer 0.9s linear infinite alternate;
          animation: soundVisualizer 0.9s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(8) {
  -webkit-animation: soundVisualizer 1.2s linear infinite alternate;
          animation: soundVisualizer 1.2s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(9) {
  -webkit-animation: soundVisualizer 3s linear infinite alternate;
          animation: soundVisualizer 3s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(10) {
  -webkit-animation: soundVisualizer 2.7s linear infinite alternate;
          animation: soundVisualizer 2.7s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(11) {
  -webkit-animation: soundVisualizer 1.5s linear infinite alternate;
          animation: soundVisualizer 1.5s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(12) {
  -webkit-animation: soundVisualizer 4.2s linear infinite alternate;
          animation: soundVisualizer 4.2s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(13) {
  -webkit-animation: soundVisualizer 4.5s linear infinite alternate;
          animation: soundVisualizer 4.5s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(14) {
  -webkit-animation: soundVisualizer 3.3s linear infinite alternate;
          animation: soundVisualizer 3.3s linear infinite alternate;
}

.loader-wrapper .loading .bar:nth-child(15) {
  -webkit-animation: soundVisualizer 4.2s linear infinite alternate;
          animation: soundVisualizer 4.2s linear infinite alternate;
}

.loader-wrapper .loading-text {
  font-size: 2rem;
  color: white;
}

.loader-wrapper .loading-text:after {
  content: 'Loading';
  -webkit-animation: loadingText 1s infinite linear;
          animation: loadingText 1s infinite linear;
}

.dots {
  position: absolute;
  bottom: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots .dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: .5rem;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.dots .dot span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #333333;
  border-radius: 50%;
}

.dots .dot.active span {
  background-color: #b3b3b3;
}

.header-logo {
  position: absolute;
  top: 12%;
  right: 6%;
  width: 8rem;
  opacity: calc(1 - (var(--scrollpos) / 100));
}

@media only screen and (max-width: 1120px) {
  .header-logo {
    display: none;
  }
}

.work-grid {
  height: 60%;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
      grid-template-areas: "left-top    middle-top    right" "left-bottom middle-bottom right";
}

.work-grid__item {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.work-grid__item__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: opacity ease-in .15s;
  transition: opacity ease-in .15s;
  opacity: 0;
}

.work-grid__item__content:hover {
  opacity: 1;
}

.work-grid__item__content__text {
  color: white;
  padding: 2rem 3rem;
  text-align: center;
}

.work-grid__item__content__text h3 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.work-grid__item__content__text p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.work-grid__item.open {
  -webkit-transform: scale(4) translateX(10%);
          transform: scale(4) translateX(10%);
  z-index: 10;
}

.work-grid__item.right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: right;
  background-image: url(https://i1.sndcdn.com/artworks-gnuzneGK2rqYxZwM-bG5fqw-t500x500.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.work-grid__item.middle-top {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: middle-top;
  background-image: url(https://i1.sndcdn.com/artworks-SCNY62YFwvuj11ZV-WSuJMQ-t500x500.jpg);
  background-size: cover;
  background-position: 10% 20%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.work-grid__item.middle-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: middle-bottom;
  background-image: url(https://i1.sndcdn.com/artworks-xIuuyq2BZt8Flyc6-eAsbwQ-t500x500.jpg);
  background-size: cover;
  background-position: bottom;
}

.work-grid__item.left-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left-top;
  background-image: url(https://i1.sndcdn.com/artworks-TqYzSjzHcVc8Axo7-4M5N0g-t500x500.jpg);
  background-size: cover;
  background-position: top;
}

.work-grid__item.left-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left-bottom;
  background-image: url(https://i1.sndcdn.com/artworks-FmZrsyr7SCZIgaKe-NNAw1Q-t500x500.jpg);
  background-size: cover;
  background-position: center;
}

/*=------------=/
|			    |
|     Navbar    |
|				|
/=------------=*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  z-index: 1;
  mix-blend-mode: difference;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__content {
  width: var(--navbar-width);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu {
  height: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  gap: 3rem;
}

.nav .menu__item {
  cursor: pointer;
}

.nav .menu__item__link {
  text-decoration: none;
  color: #fff;
}

.nav .logo {
  height: var(--logo-size);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.nav .logo img {
  height: 100%;
}

.nav .logo__link {
  text-decoration: none;
  color: #fff;
  mix-blend-mode: difference;
}

.nav .open-menu {
  display: none;
  z-index: 10;
  mix-blend-mode: difference;
  margin: 0;
  margin-left: auto;
  cursor: pointer;
}

.nav .open-menu span {
  z-index: 10;
  color: #fff;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .nav .menu {
    display: none;
  }
  .nav .open-menu {
    display: block;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(20, 20, 20, 0.8);
  z-index: 2;
  border-bottom-left-radius: 16px;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobile-nav.open {
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.mobile-nav .mobile-menu {
  margin: 0;
  padding: 2rem;
  list-style: none;
}

.mobile-nav .mobile-menu__item {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mobile-nav .mobile-menu__item__link {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

/*=------------=/
|  			    |
| Media Queries |
|			    |
/=------------=*/
/*=-----------=/
|			   |
|   Keyframes  |
|			   |
/=-----------=*/
@-webkit-keyframes perspective {
  0% {
    -webkit-perspective-origin: 50% calc(50% + var(--radius) * 0.7);
            perspective-origin: 50% calc(50% + var(--radius) * 0.7);
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-perspective-origin: 48% calc(50% - var(--radius) * 0.7);
            perspective-origin: 48% calc(50% - var(--radius) * 0.7);
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}
@keyframes perspective {
  0% {
    -webkit-perspective-origin: 50% calc(50% + var(--radius) * 0.7);
            perspective-origin: 50% calc(50% + var(--radius) * 0.7);
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-perspective-origin: 48% calc(50% - var(--radius) * 0.7);
            perspective-origin: 48% calc(50% - var(--radius) * 0.7);
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes noise {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: 100% 80%;
  }
  40% {
    background-position: 170% -20%;
  }
  60% {
    background-position: -100% -70%;
  }
  80% {
    background-position: 30% 70%;
  }
  100% {
    background-position: -30% 20%;
  }
}

@keyframes noise {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: 100% 80%;
  }
  40% {
    background-position: 170% -20%;
  }
  60% {
    background-position: -100% -70%;
  }
  80% {
    background-position: 30% 70%;
  }
  100% {
    background-position: -30% 20%;
  }
}

@-webkit-keyframes soundVisualizer {
  0% {
    height: 78.6px;
  }
  20% {
    height: 61.5px;
  }
  40% {
    height: 84.1px;
  }
  60% {
    height: 89.9px;
  }
  80% {
    height: 77.6px;
  }
  100% {
    height: 10.6px;
  }
}

@keyframes soundVisualizer {
  0% {
    height: 78.6px;
  }
  20% {
    height: 61.5px;
  }
  40% {
    height: 84.1px;
  }
  60% {
    height: 89.9px;
  }
  80% {
    height: 77.6px;
  }
  100% {
    height: 10.6px;
  }
}

@-webkit-keyframes loadingText {
  0% {
    content: "Loading";
  }
  33% {
    content: "Loading.";
  }
  66% {
    content: "Loading..";
  }
  100% {
    content: "Loading...";
  }
}

@keyframes loadingText {
  0% {
    content: "Loading";
  }
  33% {
    content: "Loading.";
  }
  66% {
    content: "Loading..";
  }
  100% {
    content: "Loading...";
  }
}
/*# sourceMappingURL=style.css.map */