@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

/*=----------=/
|             |
|  Variables  |
|             |
/=----------=*/

$items: 36;

:root {
	//Rotating text
	--content: "Bruno Bastian - Producer -";
	--font-size: 58.6666666667px;
	--radius: 206px;
	--glow-color: #09ff00;
	--width: calc((2 * 3.141592 * var(--radius)) / #{$items} + 0.005em);
	--spin-spin-time: 20s;
	--letter-spacing: 1em;

	--scrollpos: 0;


	//Navbar variables
	--navbar-height: 6rem;
	--navbar-width: 80%;

	--logo-size: 80%;
}


html,body{
	width: 100%; height: 100%;
	margin: 0; padding: 0;

  	background-color: hsl(0%, 0%, 5%);

	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;


	&::-webkit-scrollbar {
		display: none;
	}
}

body {
	overflow-x: hidden;
	font-family: 'Readex Pro', sans-serif;
}

section{
	scroll-snap-align: start;
	width: 100%;
	height: 100vh;

	&.header{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		overflow: hidden;
		&:before{
			content: "";
			position: absolute;
			height: 100%; width: 100%;
			top: 0; left: 0;
			
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='960' height='540' preserveAspectRatio='none' viewBox='0 0 960 540'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1061%26quot%3b)' fill='none'%3e%3cpath d='M588.76-58.05C467.95-35.48 407.81 268.72 221.83 269.13 35.86 269.54-40.21 70.74-145.09 63.93' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M470.86-1.37C404.05 10.96 450.66 160.15 267.52 178.9 84.38 197.65-22.36 403.11-139.16 411.1' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M551.61-8.81C472.77 22.58 531.39 245.7 349.82 264.15 168.25 282.6 52.62 397.38-53.76 399.15' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M476-38.09C364.67 9.55 344.57 354.72 196.54 357.53 48.52 360.34 2.4 167.65-82.91 157.73' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M686.61-57.18C543.71-20.29 493.11 367.92 280.09 370.9 67.06 373.88-16.06 201.64-126.44 198.1' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1061'%3e%3crect width='960' height='540' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
			background-size: 180vh;
			background-repeat: no-repeat;
		}
	}

	&.work{
		height: 100vh;
		background: white;
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		&:after{
			content: "";
			width: 100%; height: 100%;
			top: -1px; left: 0;
			position: absolute;
			background-image: url(images/wav.svg);
			background-size: cover;
			background-repeat: no-repeat;
			pointer-events: none;
		}
		&:before {
			content: "";
			position: absolute;
			height: 100%; width: 100%;
			bottom: 0; left: 0;

background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1127%26quot%3b)' fill='none'%3e%3cpath d='M 549%2c-700.5894113764531 C 717.8%2c-588.59 1493.6%2c-364.59 1393%2c-140.5894113764531 C 1292.4%2c83.41 38.2%2c279.29 46%2c419.4105886235469 C 53.8%2c559.53 1154.8%2c531.88 1432%2c560' stroke='rgba(13%2c 13%2c 13%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M 1217%2c-286.5660743826928 C 1066.2%2c-174.57 461.4%2c49.43 463%2c273.4339256173072 C 464.6%2c497.43 1268.2%2c776.12 1225%2c833.4339256173072 C 1181.8%2c890.75 442.6%2c614.69 247%2c560' stroke='rgba(13%2c 13%2c 13%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M 44%2c-672.1963539566017 C 320%2c-560.2 1342.2%2c-336.2 1424%2c-112.19635395660171 C 1505.8%2c111.8 483.4%2c313.36 453%2c447.8036460433983 C 422.6%2c582.24 1108.2%2c537.56 1272%2c560' stroke='rgba(13%2c 13%2c 13%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M 190%2c-407.2176969688845 C 301.2%2c-295.22 720.4%2c-71.22 746%2c152.7823030311155 C 771.6%2c376.78 186.8%2c631.34 318%2c712.7823030311155 C 449.2%2c794.23 1185.2%2c590.56 1402%2c560' stroke='rgba(13%2c 13%2c 13%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1127'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
background-size: 180vh;
			background-repeat: no-repeat;
		}
	}
}
//Track section
.track {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;


	&:before{
		content: "";
		width: 100%; height: 100%;
		top: 0; left: 0;
		position: absolute;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='960' height='540' preserveAspectRatio='none' viewBox='0 0 960 540'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1157%26quot%3b)' fill='none'%3e%3cpath d='M -190.86845917049186%2c314 C 1.13%2c295.4 385.13%2c211.6 769.1315408295081%2c221 C 1153.13%2c230.4 1690.96%2c355.2 1729.1315408295081%2c361 C 1767.31%2c366.8 1113.83%2c272.2 960%2c250' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -295.2024858092725%2c443 C -103.2%2c373 280.8%2c95 664.7975141907275%2c93 C 1048.8%2c91 1565.76%2c412.8 1624.7975141907275%2c433 C 1683.84%2c453.2 1092.96%2c241.8 960%2c194' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1017.2507444375368%2c441 C -825.25%2c362 -441.25%2c64.6 -57.25074443753684%2c46 C 326.75%2c27.4 699.3%2c304.2 902.7492555624632%2c348 C 1106.2%2c391.8 948.55%2c281.6 960%2c265' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1157'%3e%3crect width='960' height='540' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__poster {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		opacity: calc((var(--scrollpos) - 400) / 300);

		

		img {
			width: 50%;
			aspect-ratio: 1;
		}
	}

	&__info{
		flex: 1;
		display: flex;
		align-items: flex-start;
		flex-flow: column;

		opacity: calc((var(--scrollpos) - 600) / 200);
		
		h2{
			font-size: 7rem;
			mix-blend-mode: difference;
			color: #fff;

			margin: 0;

		}

		p{
			font-size: 2rem;
			mix-blend-mode: difference;
			color: #fff;
			margin: 0 0 2rem 0;
		}

		button{
			background: none;
			border: 2px solid #fff;
			width: 10rem; height: 3rem;
			border-radius: 10000px;

			cursor: pointer;
			
			font-size: 1.2rem;
			color: #fff;
		}
	}
}

.ring {
	position: relative;
	transform-style: preserve-3d;
	perspective: 500px;
	animation: perspective calc(var(--spin-spin-time, 32s) * 0.95) infinite ease-in-out alternate;
	
	opacity: calc(1 - (var(--scrollpos) / 500));

	.box {
		display: flex;
		transform-style: preserve-3d;

		font-weight: bold;
		text-transform: uppercase;
		color: hsl(0, 0%, 100%);
		// text-shadow: 0 0 5px #fff, 0 0 4px #fff, 0 0 8px var(--glow-color);

		animation: rotate var(--spin-spin-time) infinite linear;

		.panel {
			position: absolute;
			width: var(--width, 100px);
			height: calc(var(--font-size) * 1.1);

			line-height: 1;
			letter-spacing: var(--letter-spacing);
			font-weight: 400;
			overflow: hidden;
			font-family: 'Playfair Display', serif;
			transform: translate(-50%, calc(-50% - .5px)) rotateY(var(--angle)) translateZ(var(--radius));

			@for $i from 0 to $items {
				&:nth-child(#{$i + 1}) {
					--left: calc(var(--width) * #{-$i});
					--angle: calc(360 / #{$items} * #{$i}deg);
				}
			}

			&:after {
				content: var(--content);
				font-size: var(--font-size, 100px);
				width: max-content;

				position: absolute;
				left: var(--left);
			}
		}
	}
}

.scroll{
	position: absolute;
	bottom: 0;
	padding: 1rem;
	margin: 2rem;

	transition: opacity ease-in .1s;
	
	opacity: calc(1 - calc(var(--scrollpos) / 180));

	span{
		display: block;
		width: 24px; height: 24px;

		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;

		transform: rotate(-45deg);
	}

	&:hover{
		opacity: 0.5;
	}
}

.textbox{
	position: absolute;
	bottom: 10%;

	
	display: flex;
	flex-direction: column;

	h2{
		font-size: 1.3rem;
		color: hsl(0, 0, 15%);
	}
}

.header-logo{
	position: absolute;
	top: 10%; right: 5%;
	width: 10rem;
	opacity: calc(1 - (var(--scrollpos) / 100));
}

.work-grid{
	height: 60%;
	width: 80%;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1em 1em;
	grid-template-areas: "left-top    middle-top    right"
						 "left-bottom middle-bottom right";

	&__item{
		position: absolute;
		cursor: pointer;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		position: relative;

		transition: all 1s ease-in-out;

		&__content{
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 100%;
			background: rgba(0,0,0,0.3);
			border-radius: 10px;

			

			//Push objects down to the bottom of div using flex
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;

			//Show animation and show content
			transition: opacity ease-in .15s;
			opacity: 0;
			&:hover {
				opacity: 1;
			}

			&__text{
				color: white;
				padding: 2rem 3rem;
				text-align: center;

				h3{
					font-size: 4rem;
					text-transform: uppercase;
					font-weight: bold;
					margin: 0; padding: 0;
				}

				p{
					font-size: 1rem;
					margin: 0; padding: 0;
				}
			}
		}

		&.open{
			transform: scale(4) translateX(10%);
			z-index: 10;
		}
		
		&.right{
			grid-area: right;
			background-image: url(https://i1.sndcdn.com/artworks-gnuzneGK2rqYxZwM-bG5fqw-t500x500.jpg);
			background-size: cover;
			background-position: center;
			transform-origin: 100% 50%;
			
		}

		&.middle-top{
			grid-area: middle-top;
			background-image: url(https://i1.sndcdn.com/artworks-SCNY62YFwvuj11ZV-WSuJMQ-t500x500.jpg);
			background-size: cover;
			background-position: 10% 20%;
			transform-origin: 50% 50%;

		}
		&.middle-bottom{
			grid-area: middle-bottom;
			background-image: url(https://i1.sndcdn.com/artworks-xIuuyq2BZt8Flyc6-eAsbwQ-t500x500.jpg);
			background-size: cover;
			background-position: bottom;
		}
		&.left-top{
			grid-area: left-top;
			background-image: url(https://i1.sndcdn.com/artworks-TqYzSjzHcVc8Axo7-4M5N0g-t500x500.jpg);
			background-size: cover;
			background-position: top;
		}
		&.left-bottom {
			grid-area: left-bottom;
			background-image: url(https://i1.sndcdn.com/artworks-FmZrsyr7SCZIgaKe-NNAw1Q-t500x500.jpg);
			background-size: cover;
			background-position: center;
		}
	}
}

/*=------------=/
|			    |
|     Navbar    |
|				|
/=------------=*/

.nav{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: var(--navbar-height);
	z-index: 1;
	
	mix-blend-mode: difference;

	display: flex;
	justify-content: center;

	// background-color: var(--navbar-background);

	&__content{
		
		width: var(--navbar-width);
		height: 100%;

		display: flex;
		align-items: center;
	}

	.menu{
		height: 100%;
		margin-left: auto;


		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;

		margin: 0 0 0 auto; padding: 0;
		gap: 3rem;

		&__item{
			cursor: pointer;
			

			&__link{
				text-decoration: none;
				color: #fff;
			}
		}
	}

	.logo{
		height: var(--logo-size); width: min-content;

		img{
			height: 100%;
		}
	}
}


/*=-----------=/
|			   |
|   Keyframes  |
|			   |
/=-----------=*/

@keyframes perspective {
	0% {
		perspective-origin: 50% calc(50% + var(--radius) * 0.7);
		transform: rotate(-15deg);
	}

	100% {
		perspective-origin: 48% calc(50% - var(--radius) * 0.7);
		transform: rotate(15deg);
	}
}

@keyframes rotate {
	0% {
		transform: rotateY(0deg)
	}

	100% {
		transform: rotateY(-360deg)
	}
}
