:root{

	//Navbar variables
	--navbar-height: 6rem;
	--navbar-width: 80%;

	--logo-size: 80%;
}

//Default Markings

* {
	cursor: none !important;
}

::selection{
	background: white;
	color: black;
}

html,body{
	width: 100%; height: 100%;

	scroll-behavior: smooth !important;
	background-color: hsl(0%, 0%, 5%);

}
body {
	margin: 0; padding: 0;

	overflow-x: hidden;
	font-family: 'Readex Pro',
	sans-serif;

	

	//Hide scrollbar

	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}

	
}

section{
	&:before {
		content: '';
		position: absolute;
		display: inline-block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(../images/whitenoise.png);
		background-size: auto;
		background-repeat: repeat repeat;

		pointer-events: none;

		opacity: 0.07;
		filter: brightness(.3);
	}
}


.ball {
	position: absolute;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	padding: 12.5px;
	background: white;
	mix-blend-mode: difference;
	top: 0;
	left: 0;

	pointer-events: none;
	z-index: 10;

	transform-origin: 50% 50%;

	transition: padding .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-image: url(../images/whitenoise.png);
		background-repeat: repeat;

		animation: noise .5s infinite;

		pointer-events: none;

		opacity: .4;
		filter: brightness(.2);

	}
}

/*=-------------=/
|			     |
|    Observers   |
|			 	 |
/=-------------=*/

.fade-in, .fade-in-toggle {
	opacity: 0 !important;
	transition: opacity 250ms ease-in-out;
	
	&.observing {
		opacity: 1 !important;
	}
}

.fade-out {
	opacity: 0 !important;
	transition: opacity 250ms ease-in-out;

	&.observing {
		opacity: 1 !important;
	}
}

.slide-in{
	transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);

	& > *{
		transition: opacity .8s ease-in-out;
		opacity: 0;
	}

	&.from-right {
		transform: translateX(100%) !important;
	}
	&.from-left {
		transform: translateX(-100%) !important;
	}
	&.from-top{
		transform: translateY(-100%) !important;
	}

	&.observing {
		transform: transform(0%) !important;

		& > *{
			opacity: 1;
		}
	}
}


/*=------------=/
|			    |
|     Navbar    |
|				|
/=------------=*/

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--navbar-height);
	z-index: 1;

	mix-blend-mode: difference;

	display: flex;
	justify-content: center;

	// background-color: var(--navbar-background);

	&__content {

		width: var(--navbar-width);
		height: 100%;

		display: flex;
		align-items: center;
	}

	.menu {
		height: 100%;
		margin-left: auto;


		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;

		margin: 0 0 0 auto;
		padding: 0;
		gap: 3rem;

		&__item {
			cursor: pointer;


			&__link {
				text-decoration: none;
				color: #fff;
			}
		}
	}

	.logo {
		height: var(--logo-size);
		width: min-content;

		img {
			height: 100%;
		}

		&__link {
			text-decoration: none;
			color: #fff;
			mix-blend-mode: difference;
		}
	}


	.open-menu {
		display: none;

		z-index: 10;
		mix-blend-mode: difference;
		margin: 0;
		margin-left: auto;
		cursor: pointer;

		span {
			z-index: 10;
			color: #fff;
			font-size: 2rem;
		}
	}




	@media only screen and (max-width: 600px) {
		.menu {
			display: none;
		}

		.open-menu {
			display: block;
		}
	}
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	// height: 100vh;
	background: hsla(0, 0%, 8%, 0.8);
	z-index: 2;

	border-bottom-left-radius: 16px;

	transition: transform .5s ease-in-out;
	transform: translateX(100%);

	&.open {
		transform: translate(50%);
	}


	.mobile-menu {
		margin: 0;
		padding: 2rem;
		list-style: none;

		&__item {
			cursor: pointer;
			user-select: none;

			&__link {
				text-decoration: none;
				color: #fff;
				font-size: 2rem;
			}
		}
	}
}
